body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
}

.back {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}

.back:hover {
  text-decoration: underline;
}

.fav-header {
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
}

.logo {
  font-size: 24px;
  color: var(--text-color);
}

.fav-container {
  padding: 20px;
}

.fav-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#favorite-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
